[user]
    email = zelak312@gmail.com
    name = Zelak312
[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
[init]
    defaultBranch = main
[pull]
    rebase = false
